<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminFragments.html :: head"></head>
<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar(currentMenu='account')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      <!-- End Navbar -->
    	<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
                <h2 class="card-title"> 회원 목록</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          	아이디
                        </th>
                        <th>
                          	이메일
                        </th>
                        <th>
                          	닉네임
                        </th>
                        <th>
                          	가입일
                        </th>
                        <th>
                          	등급
                        </th>
                        <th class="text-center">
                        	이동
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr th:each="item : ${resultList}">
	                        <td th:text="${item.loginId}">
	                          	아이디
	                        </td>
	                        <td th:text="${item.email}">
	                          	이메일
	                        </td>
	                        <td th:text="${item.nickname}">
	                          	닉네임
	                        </td>
	                        <td class="date" th:text="${item.createdAt}">
	                          	가입일
	                        </td>
	                        <td th:text="${item.role}">
	                          	등급
	                        </td>
	                        <td class="text-center">
	                          <a th:href="@{'/admin/account/update/' + ${item.id}}" class="btn btn-primary">수정</a>
	                          <a th:href="@{'/admin/account/password/' + ${item.id}}" class="btn btn-primary">패스워드 변경</a>
	                          <button th:attr="data-account-id=${item.id}" class="btn btn-primary delete-account">삭제</a>
	                        </td>
                      	</tr>                                
                    </tbody>
                  </table>
                  
                  <div class="searchform">
                      <form th:action="@{/admin/account}" method="get" class="search-form">
	                      <input type="text" name="keyword" class="input" placeholder="Search" aria-label="Search">
		                  <button type="submit" class="btn btn-primary">검색</button>
                      </form>
                  </div>
                  
                  <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!resultList.hasPrevious()}? disabled">
                            <a th:href="@{/admin/comment?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${resultList.getNumber() - 1}}"
                               class="page-link" tabindex="-1" aria-disabled="true">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i == resultList.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, resultList.getTotalPages()-1)}">
                            
 							 <a th:href="@{'/admin/comment?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${i}}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!resultList.hasNext()}? disabled">
                            <a th:href="@{'/admin/comment?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${resultList.getNumber() + 1}}"
                               class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {

		$('.delete-account').click(function () {
			
			var result = confirm("계정을 삭제하시겠습니까 ? ");
			
			if (result) {
				const accountId = $(this).data('account-id');

				
				$.ajax({
					type: 'POST',
					url: '/admin/account/delete',
					data: {'accountId' : accountId},
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (response.messageType !== undefined && response.messageType !== 'FAIL') {
							alert (response.message);
							location.href = '/admin/account/';
						} else {
							alert (response.message);
						}
					},
					error: function (request, status ,error) {
						console.log(request);
						console.log(status);
						console.log(error);
						//alert("로그인이 필요합니다. ")
					},
				});
			}
		});
		
      });
    });
  </script>
</body>


</html>