<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/adminFragments.html :: head"></head>
<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar(currentMenu='account')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      <!-- End Navbar -->
    	<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
                <h2 class="card-title"> 회원 관리</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
	                  <form class="needs-validation col-sm-10" th:action="@{/admin/account/update/}" th:object="${accountAdminForm}" method="post" novalidate>	
	                  	<h1>회원 관리</h1>
	                  	<input type="hidden" th:field="*{id}">
		                		                

						<div class="form-group">
		                    <label for="loginId">아이디</label>
		                    <input id="loginId" type="text" th:field="*{loginId}" class="form-control"
		                              placeholder="아이디는 수정할수 없습니다." aria-describedby="loginIdHelp" required maxlength="100" disabled>
		                </div>	
		                <div class="form-group">
		                    <label for="email">이메일</label>
		                    <input id="email" type="text" th:field="*{email}" class="form-control"
		                              placeholder="이메일은 수정할수 없습니다." aria-describedby="emailHelp" required maxlength="100" disabled>
		                </div>		                	
		                <div class="form-group">
		                    <label for="nickname">닉네임</label>
		                    <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
		                              placeholder="닉네임을 작성해주세요." aria-describedby="nicknameHelp" required maxlength="100">
		                    <small id="nicknameHelp" class="form-text text-muted">
		                        		닉네임을 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">닉네임을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">닉네임 Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="birthYear">생 년 </label>
		                    <input id="birthYear" type="text" th:field="*{birthYear}" class="form-control"
		                              placeholder="생 년 을 작성해주세요." aria-describedby="birthYearHelp" required maxlength="100">
		                    <small id="birthYearHelp" class="form-text text-muted">
		                        		생 년 을 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">생 년 을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">생 년  Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="accountGender">성별</label>
		                    <select th:field="*{accountGender}"  class="custom-select mr-sm-2" id="accountGender" aria-describedby="accountGenderHelp" >
				                    <option th:value="female">여자</option>
				                    <option th:value="male">남자</option>
				            </select>
		                    <small id="roleHelp" class="form-text text-muted">
		                        		등급을 선택해주세요.
		                    </small>
		                    <small class="invalid-feedback">등급 선택</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('accountGender')}" th:errors="*{accountGender}">accountGender Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="role">등급</label>
		                    <select th:field="*{role}"  class="custom-select mr-sm-2" id="role" aria-describedby="roleHelp" >
				                    <option th:value="ROLE_USER">일반회원</option>
				                    <option th:value="ROLE_ADMIN">관리자</option>
				            </select>
		                    <small id="roleHelp" class="form-text text-muted">
		                        		등급을 선택해주세요.
		                    </small>
		                    <small class="invalid-feedback">등급 선택</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <button class="btn btn-primary btn-block" type="submit"
		                            aria-describedby="submitHelp">회원 수정</button>
	                	</div>
		              </form>
                </div>
                
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
	                    <span th:text="${message}">완료</span>
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	            </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:inline="javascript">
    $(document).ready(function() {
      $().ready(function() {
    	  
    	$('#accountList').DataTable();
    	
    	$('#accountList_wrapper').css("width" , '100%');
    	$('#accountList_wrapper').css('height' , '100%');
    	$('#accountList_filter').css('float' , 'right')
    	$('#accountList_filter .search').css('padding-left' , '20px');
    	
		$('#boardList').DataTable();
    	
    	$('#boardList_wrapper').css("width" , '100%');
    	$('#boardList_wrapper').css('height' , '100%');
    	$('#boardList_filter').css('float' , 'right')
    	$('#boardList_filter .search').css('padding-left' , '20px');

    	
		$('.select-board').click(function () {
			
			var result = confirm("정말로 게시판을 수정하시겠습니까 ? ");
			
			if (result) {
				const boardId = $(this).data('board-id');
				
				$('#boardId').val(boardId);
				$('#boardName').val($('.board-name-'+ boardId).text());
			}
		});
		

      });
    });
  </script>
</body>


</html>