<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/adminFragments.html :: head"></head>

<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar(currentMenu='dashboard')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Total Counts</h5>
                    <h2 class="card-title">Performance</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="options" checked>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">회원</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">글</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                        <input type="radio" class="d-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">댓글</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h6 class="title d-inline">글 목록</h6>
                <p class="card-category d-inline">최근 10개</p>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      <tr th:each="item : ${postList}">
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          <p class="text-muted" style="float:right;" th:text="${item.updatedAt}">날짜</p>
                          <p class="title" th:text="${item.title}">제목</p>
                          <p class="text-muted" th:utext="${item.content}">내용</p>
                        </td>
                        <td class="td-actions text-right">
                          <a type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" th:href="@{'/admin/post/update/' + ${item.id}}">
                            <i class="tim-icons icon-pencil"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header">
                <h4 class="card-title"> 게시판 목록</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          	이름
                        </th>
                        <th>
                          	경로
                        </th>
                        <th>
                          	권한
                        </th>
                        <th>
                        	이동
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${boardList}">
	                        <td th:text="${item.name}">
	                          Dakota Rice
	                        </td>
	                        <td th:text="${item.path}">
	                          Niger
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_ADMIN')}">
	                           	관리자
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_USER')}">
	                           	일반회원
	                        </td>
                        	<td>
                        		<a th:href="@{'/admin/board/update/' + ${item.id}}"><i class="tim-icons icon-zoom-split"></i></a>
                        	</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
   		
   		<div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h6 class="title d-inline">댓글 목록</h6>
                <p class="card-category d-inline">최근 10개</p>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      <tr th:each="item : ${commentList}">
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          
                          <p class="title" th:text="${item.content}">제목</p>
                          <p class="text-muted" th:utext="${item.updatedAt}">내용</p>
                        </td>
                        <td class="td-actions text-right">
                          <a type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task" th:href="@{'/admin/comment/update/' + ${item.id}}">
                            <i class="tim-icons icon-pencil"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
       	  <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header">
                <h4 class="card-title"> 회원 목록</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          	아이디
                        </th>
                        <th>
                          	이메일
                        </th>
                        <th>
                          	닉네임
                        </th>
                        <th>
                          	권한
                        </th>
                        <th>
                        	이동
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${accountList}">
	                        <td th:text="${item.loginId}">
	                          Dakota Rice
	                        </td>
	                        <td th:text="${item.email}">
	                          Niger
	                        </td>
	                        <td th:text="${item.nickname}">
	                          Niger
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_ADMIN')}">
	                           	관리자
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_USER')}">
	                           	일반회원
	                        </td>
                        	<td>
                        		<a th:href="@{'/admin/account/update/' + ${item.id}}"><i class="tim-icons icon-zoom-split"></i></a>
                        	</td>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
         
  
        </div>

    </div>
    <div id="accountStatistics" th:text="${accountStatistics}" hidden></div>
    <div id="postStatistics" th:text="${postStatistics}" hidden></div>
    <div id="commentStatistics" th:text="${commentStatistics}" hidden></div>
  </div>

  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script src="/js/demo.js"></script>
  
</body>


</html>