<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/adminFragments.html :: head"></head>

<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar(currentMenu='post')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
                <h2 class="card-title"> 게시글 목록</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          	게시판
                        </th>
                        <th>
                          	글번호
                        </th>
                        <th>
                          	글제목
                        </th>
                        <th>
                          	작성자
                        </th>
                        <th>
                          	작성일
                        </th>
                        <th>
                          	조회수
                        </th>
                        <th class="text-center">
                        	이동
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr th:each="item : ${postList}">
	                        <td th:text="${item.board}">
	                          	게시판
	                        </td>
	                        <td th:text="${item.id}">
	                          	글번호
	                        </td>
	                        <td th:text="${item.title}">
	                          	글제목
	                        </td>
	                        <td th:text="${item.createdBy}">
	                          	작성자
	                        </td>
	                        <td class="date" th:text="${item.createdAt}">
	                          	작성일
	                        </td>
	                        <td th:text="${item.views}">
	                          	조회수
	                        </td>
	                        <td class="text-center">
	                          <a th:href="@{'/admin/post/update/' + ${item.id}}" class="btn btn-primary">수정</a>
	                        </td>
                      	</tr>                                
                    </tbody>
                  </table>
                  
                  <div class="searchform">
                      <form th:action="@{/admin/post}" method="get" class="search-form">
	                      <input type="text" name="keyword" class="input" placeholder="Search" aria-label="Search">
		                  <button type="submit" class="btn btn-primary">검색</button>
                      </form>
                  </div>
                  
                  <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!postList.hasPrevious()}? disabled">
                            <a th:href="@{/admin/post?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${postList.getNumber() - 1}}"
                               class="page-link" tabindex="-1" aria-disabled="true">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i == postList.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, postList.getTotalPages()-1)}">
                            
 							 <a th:href="@{'/admin/post?' + ${keyword} + '&sort=createdAt,desc&page=' + ${i}}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!postList.hasNext()}? disabled">
                            <a th:href="@{'/admin/post?' + ${keyword} + '&sort=createdAt,desc&page=' + ${postList.getNumber() + 1}}"
                               class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
</body>


</html>