<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/adminFragments.html :: head"></head>

<body class="">
  <div class="wrapper">
   	<div th:replace="admin/adminFragments.html :: sidebar(currentMenu='post')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      
      <div class="modal modal-account fade" id="boardListModal" tabindex="-1" role="dialog" aria-labelledby="boardListModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <table id="boardList" class="display" style="width:100%; height:100%;">
              	 <thead>
		            <tr>
		                <th>이름</th>
		                <th>경로</th>
		                <th>권한</th>
		                <th class="text-left">선택</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr th:each="item : ${allBoardList}">
		        		<td th:class="${'board-name-' + item.id}" th:text="${item.name}">
		        		</td>
		        		<td th:text="${item.path}">
		        		</td>
		        		<td th:text="${item.role}">
		        		</td>
		        		<td>
		        			<div id="select-board" class="btn btn-primary select-board" th:attr="data-board-id=${item.id}">선택</div>
		        		</td>
		        	</tr>
		        </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- End Navbar -->
    	<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
                <h2 class="card-title"> 게시글 관리</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
	                  <form class="needs-validation col-sm-10" th:action="@{/admin/post/update/}" th:object="${postForm}" method="post" novalidate>	
	                  	<h1>게시판 관리</h1>
	                  	<input type="hidden" th:field="*{id}">
	                    <input type="hidden" th:field="*{boardId}">
		                <div class="form-group">
		                    <label for="title">게시판 이름</label>
		                    <div class="btn btn-primary float-right" data-toggle="modal" data-target="#boardListModal">게시판 추가</div>
		                    <input id="boardName" type="text" th:field="*{boardName}" class="form-control"
		                              placeholder="게시판의 이름을 작성해주세요." aria-describedby="nameHelp" required maxlength="100" disabled>
		                    <small id="boardNameHelp" class="form-text text-muted">
		                        		게시판을 선택해주세요.
		                    </small>
		                    <small class="invalid-feedback">게시판을 선택</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('boardName')}" th:errors="*{boardName}">name Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="title">글 제목</label>
		                    <input id="title" type="text" th:field="*{title}" class="form-control"
		                              placeholder="글 제목을 작성해주세요." aria-describedby="titleHelp" required maxlength="100">
		                    <small id="titleHelp" class="form-text text-muted">
		                        		글 제목을 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">글 제목을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">path Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="content">글 내용</label>
		                    <input id="content" type="text" th:field="*{content}" class="form-control"
		                              placeholder="글 내용을 작성해주세요." aria-describedby="contentHelp" required maxlength="100">
		                    <small id="contentHelp" class="form-text text-muted">
		                        		글 내용을 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">글 내용을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">path Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="deleted">삭제 여부</label>
		                    <select th:field="*{deleted}"  class="custom-select mr-sm-2" id="deleted" aria-describedby="deletedHelp" >
				                    <option th:value="true">예</option>
				                    <option th:value="false">아니오</option>
				            </select>
		                    <small id="deletedHelp" class="form-text text-muted">
		                        		삭제 여부를 선택해주세요.
		                    </small>
		                    <small class="invalid-feedback">삭제 여부 선택</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('deleted')}" th:errors="*{deleted}">deleted Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <button class="btn btn-primary btn-block" type="submit"
		                            aria-describedby="submitHelp">글 수정</button>
	                	</div>
		              </form>
                </div>
                
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
	                    <span th:text="${message}">완료</span>
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	            </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:inline="javascript">
    $(document).ready(function() {
      $().ready(function() {
    	  
    	$('#accountList').DataTable();
    	
    	$('#accountList_wrapper').css("width" , '100%');
    	$('#accountList_wrapper').css('height' , '100%');
    	$('#accountList_filter').css('float' , 'right')
    	$('#accountList_filter .search').css('padding-left' , '20px');
     

		$('#boardList').DataTable();
    	
    	$('#boardList_wrapper').css("width" , '100%');
    	$('#boardList_wrapper').css('height' , '100%');
    	$('#boardList_filter').css('float' , 'right')
    	$('#boardList_filter .search').css('padding-left' , '20px');

    	
		$('.select-board').click(function () {
			
			var result = confirm("정말로 게시판을 수정하시겠습니까 ? ");
			
			if (result) {
				const boardId = $(this).data('board-id');
				
				$('#boardId').val(boardId);
				$('#boardName').val($('.board-name-'+ boardId).text());
			}
		});

      });
    });
  </script>
</body>


</html>