<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	

	<head th:replace="fragments.html :: head"></head>
	
	<body>
	
		<div th:replace="fragments.html :: main-nav"></div>

		<div class="container">
			<div class="row">
				<div class="col-12">
				    <form class="search-form">
				        <div class="input-group">
				            <input id="input-1" class="form-control" type="text" aria-describedby="search-btn">
				            <label for="input-1" class="sr-only">Search</label>
				            <div class="input-group-append">
				                <button id="search-btn" class="btn btn-primary">Search</button>
				            </div>
				        </div>
				    </form>
				    <h1 class="board_title" th:text="${board.name}"></h1>
				    <ul class="topics-table">
				        <li class="topics-header">
				           <ul class="header-titles">
				               <li class="no">글번호</li>
				               <li class="title">제목</li>
				               <li class="writer">작성자</li>
				               <li class="date">작성일</li>
				               <li class="views">조회수</li>
				               <li class="up">추천수</li>
				           </ul>
				        </li>
				        <li class="topics-body" th:each="item: ${postList}">
				            <ul class="topic-item-1">
				               <a th:href="@{'/post/view/' +  ${item.id}}">
				               <li class="no" th:text="${item.id}">글번호</li>
				               <li class="title" th:text="${item.title}">제목</li>
				               <li class="writer"><span class="bbp-topic-freshness-author" th:text="${item.createdBy}">작성자</span></li>
				               <li class="date" th:text="${item.createdAt}" >작성일</li>
				               <li class="views" th:text="${item.views}">조회수</li>
			                   <li class="up" th:text="${item.up}">추천수</li>
							   </a>
				            </ul>

				        </li>
				    </ul>
				</div>
			</div>
	    </div>
	
	
	</body>

</html>