<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	

	<head th:replace="fragments.html :: head"></head>
	
	<body>
	
		<div th:replace="fragments.html :: main-nav"></div>

		<div class="container">
			<div class="row">
				<div class="col-12">
				
				    <a class="btn btn-primary float-right writebtn" th:href="@{'/post/' + ${board.path} + '/add' }">글 작성</a>
				    <h1 class="board_title" th:text="${board.name}"></h1>
				    
				    <ul class="topics-table">
				        <li class="topics-header">
				           <ul class="header-titles">
				               <li class="no">글번호</li>
				               <li class="title">제목</li>
				               <li class="writer">작성자</li>
				               <li class="date">작성일</li>
				               <li class="views">조회수</li>
				               <li class="up">추천수</li>
				           </ul>
				        </li>
				        <li class="topics-body" th:each="item: ${postList}">
				            <ul class="topic-item-1">
				               <a th:href="@{'/post/view/' +  ${item.id}}">
				               <li class="no" th:text="${item.id}">글번호</li>
				               <li class="title" th:text="${item.title}">제목</li>
				               <li class="writer"><span class="bbp-topic-freshness-author" th:text="${item.createdBy}">작성자</span></li>
				               <li class="date" th:text="${item.createdAt}" >작성일</li>
				               <li class="views" th:text="${item.views}">조회수</li>
			                   <li class="up" th:text="${item.up}">추천수</li>
							   </a>
				            </ul>

				        </li>
				    </ul>
				    
				    <div class="searchform text-center">
                      <form th:action="@{'/board/' + ${board.path}}" method="get" class="search-form">
	                      <input type="text" name="keyword" class="input" placeholder="Search" aria-label="Search">
		                  <button type="submit" class="btn btn-primary">검색</button>
                      </form>
                  </div>
                  
                  <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!postList.hasPrevious()}? disabled">
                            <a th:href="@{/board/' + ${board.path} + '?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${postList.getNumber() - 1}}"
                               class="page-link" tabindex="-1" aria-disabled="true">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i == postList.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, postList.getTotalPages()-1)}">
                            
 							 <a th:href="@{'/board/' + ${board.path} + '?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${i}}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${!postList.hasNext()}? disabled">
                            <a th:href="@{'/board/' + ${board.path} + '?keyword=' + ${keyword} + '&sort=createdAt,desc&page=' + ${postList.getNumber() + 1}}"
                               class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
				</div>
			</div>
	    </div>
		<div th:replace="fragments.html :: date-time"></div>
	
	</body>

</html>