<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	

	<head th:replace="fragments.html :: head"></head>
	
	<body>
	
		<div th:replace="fragments.html :: main-nav"></div>

		<div class="container">
			<div class="post-item">
				<div class="py-5 text-center">
		            <h2>게시판</h2>
		        </div>
		        <div class="row justify-content-center">
		        	<div class="col-sm-10" style="border:1px solid;">
		        		<span class="d-inline" th:text="${post.updatedAt}" style="float:right;"></span>
		        		<h2 class="d-inline" th:utext="${post.title}">title</h2>
						
						<div class="side pt-2 pb-2">
			                <i class="fa fa-user"></i> <div class="d-inline" th:text="${post.createdBy.nickname}"></div>
			                <div class="d-inline float-right">
			                	<span>
			                		조회수
									<b>1</b>
			                	</span>
			                	<span>
			                		추천수
									<b th:text="${post.up}">1</b>
			                	</span>
			                	<span>
			                		댓글수
									<b th:text="${commentTotalCount}">1</b>
			                	</span>
			                </div>
		                </div>
						<div class="post-item" style="border-bottom:1px solid;">
						
						</div>
		                    
		                <div id="title" class="title" th:utext="${post.content}"></div>
		                
		                <div class="vote">
		                	<span class="vote-up" th:attr="data-post-id=${post.id}">
			                	<b>
			                		<i class="fa fa-thumbs-up" style="font-size:20px"></i>
			                		<span class="post-vote-up-count" th:id="${'post-vote-up-count-' + post.id}" th:text="${post.up}">1</span>
			                	</b>
			                	<p>추천</p>
		                	</span>
		                	<span class="vote-down" th:attr="data-post-id=${post.id}">
			                	<b>
			                		<i class="fa fa-thumbs-down" style="font-size:20px"></i>
			                		<span class="post-vote-down-count" th:id="${'post-vote-down-count-' + post.id}" th:text="${post.down}">1</span>
			                	</b>
			                	<p>반대</p>
		                	</span>
		                </div>
		                <div class="menu-bottom" style="text-align:center; padding-bottom:20px;">
		                	<a class="btn btn-primary" href="/list" style="float:left;">리스트</a>
		                	<a class="btn btn-primary" href="/list" >다음글</a>
		                	<a class="btn btn-primary" href="/list" style="float:right;">이전글</a>
		                </div>
		            </div>
		        </div>
		    </div>
		  	<div class="comment-text">
		  		<div class="row justify-content-center">
		  			<div class="col-sm-10" style="border:1px solid; border-radius:7px;">
		  				<label style="padding-top:10px;">댓글쓰기</label>
		  				<form th:action="@{'/comment/add/' + ${post.id}}" th:object="${commentForm}" method="post" novalidate>
		  					<div class="text">
		  						<textarea th:field="*{content}"></textarea>
		  					</div>
		  					<input type="submit" class="btn btn-info submit_btn" value="등록">
		  				</form>
		  			</div>
		  		</div>
		  	</div>

			<div class="comment-list">
				<div class="row justify-content-center">
		  			<div class="col-sm-10" style="border:1px solid; border-radius:7px;">
		  				<div class="comment-count">
		  						댓글
		  					<span th:text="${commentTotalCount}">0</span>
		  				</div>
		  				<div class="comment-item" th:each="item: ${commentList}">
		  					<div class="comment" th:id="'comment-' + ${item.id}">
		  						<div class="text">
			  						<h5 class="name">
			  							<i class="fa fa-user"></i> <p th:text="${item.createdBy.nickname}">닉네임1</p>
			  						</h5>
			  						<span class="comment-date" th:text="${item.updatedAt}">date</span>
			  						<span class="comment-reply" th:attr="data-comment-id=${item.id}">댓글</span>
			  						<span class="vote-down" th:attr="data-comment-id=${item.id}"><i class="fa fa-thumbs-down"></i>
			  							<span class="vote-down-count" th:id="${'vote-down-count-' + item.id}" th:text="${item.down}">1</span>
			  						</span>
			  						<span class="vote-up" th:attr="data-comment-id=${item.id}"><i class="fa fa-thumbs-up"></i>
			  							<span class="vote-up-count" th:id="${'vote-up-count-' + item.id}" th:text="${item.up}">1</span>
			  						</span>
			  						<div class="comment-text">
			  							<p th:text="${item.content}">가나다라마바사1</p>
			  						</div>
			  						<div class="comment-item-sub" th:each="child: ${item.childList}">
			  						   <div class="text" th:if="${child.id != item.id}">
			  						   	  <h5 class="name">
			  						   	  	<i class="fa fa-user"></i> <p th:text="${child.parent.createdBy.nickname}">상위 닉네임</p>
			  						   	  </h5> 
			  						   	  <span class="comment-date" th:text="${child.updatedAt}">date</span>
				  						  <span class="comment-reply" th:attr="data-comment-id=${child.id}">댓글</span>
				  						  <span class="vote-down" th:attr="data-comment-id=${child.id}"><i class="fa fa-thumbs-down"></i>
				  							<span class="vote-down-count" th:id="${'vote-down-count-' + child.id}" th:text="${child.down}">1</span>
				  						  </span>
				  						  <span class="vote-up" th:attr="data-comment-id=${child.id}"><i class="fa fa-thumbs-up"></i>
					  							<span class="vote-up-count" th:id="${'vote-up-count-' + child.id}" th:text="${child.up}">1</span>
					  					  </span>
					  				      <div class="comment-text">
					  				      	<div class="comment-text-parent-nickname" th:text="${child.parent.createdBy.nickname}"></div>
					  						<p th:text="${child.content}">가나다라마바사1</p>
					  					  </div>
				  						   
				  						   <div th:id="'comment-form-' + ${child.id}" style="display:none; border-bottom:1px solid;">
							  							<div class="row justify-content-center">
												  			<div class="col-sm-12">
												  				<label style="padding-top:10px;"><i class="fa fa-share fa-flip-vertical re"></i> 댓글쓰기</label>
												  				<form th:action="@{'/comment/add/' + ${post.id} + '/' + ${child.id}}" th:object="${commentForm}" method="post" novalidate>
												  					<input type="hidden" name="depth" th:value="${child.depth + 1}">
												  					
												  					<div class="text">
												  						<textarea th:field="*{content}"></textarea>
												  					</div>
												  					<input type="submit" class="btn btn-info submit_btn" value="등록">
												  				</form>
												  			</div>
												  		</div>
							  				</div>
						  				</div>
			  						</div>
		  						</div>
		  					</div>
		  					<div th:id="'comment-form-' + ${item.id}" style="display:none; border-bottom:1px solid;">
			  							<div class="row justify-content-center">
								  			<div class="col-sm-12">
								  				<label style="padding-top:10px;"><i class="fa fa-share fa-flip-vertical re"></i> 댓글쓰기</label>
								  				<form th:action="@{'/comment/add/' + ${post.id} + '/' + ${item.id}}" th:object="${commentForm}" method="post" novalidate>
								  					<input type="hidden" name="depth" th:value="${item.depth + 1}">
								  					
								  					<div class="text">
								  						<textarea th:field="*{content}"></textarea>
								  					</div>
								  					<input type="submit" class="btn btn-info submit_btn" value="등록">
								  				</form>
								  			</div>
								  		</div>
			  				</div>
		  				</div>
		  			</div>
		  		</div>
			</div>		    
	    </div>
		<script th:replace="fragments.html :: editor-script"></script>
		<div th:replace="fragments.html :: date-time"></div>
		<script th:replace="fragments.html :: ajax-csrf-header"></script>
		<script type="application/javascript" th:inline="javascript">
			$('.vote-down').click(function() {
				let commentId = $(this).data('comment-id');
				let postId = $(this).data('post-id');
								
				let voteUrl = "/comment/vote/down";
				
				if (commentId === undefined ) {
					voteUrl = "/post/vote/down";
				}
				
				$.ajax({
					type: "POST",
					url: voteUrl,
					data: {'commentId': commentId , 'postId' : postId },
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (postId === undefined ) {
							$('#vote-down-count-' + commentId).text(response.voteDownCount);
							$('#vote-up-count-' + commentId).text(response.voteUpCount);
						} else {
							$('#post-vote-down-count-' + postId).text(response.voteDownCount);
							$('#post-vote-up-count-' + postId).text(response.voteUpCount);
						}
					},
					error: function (request, status ,error) {
						//alert("로그인이 필요합니다. ")
					},
				});
				
			});
			
			$('.vote-up').click(function() {
				let commentId = $(this).data('comment-id');
				let postId = $(this).data('post-id');
				let voteUrl = "/comment/vote/up";
				
				if (commentId === undefined ) {
					voteUrl = "/post/vote/up";
				}										
				
				$.ajax({
					type: "POST",
					url: voteUrl,
					data: {'commentId': commentId , 'postId' : postId },
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (postId === undefined ) {
							$('#vote-down-count-' + commentId).text(response.voteDownCount);
							$('#vote-up-count-' + commentId).text(response.voteUpCount);
						} else {
							$('#post-vote-down-count-' + postId).text(response.voteDownCount);
							$('#post-vote-up-count-' + postId).text(response.voteUpCount);
						}
					},
					error: function (request, status ,error) {
						console.log(request);
						console.log(status);
						console.log(error);
						//alert("로그인이 필요합니다. ")
					},
				});
				
			});
		</script>
		
		<script type="application/javascript">
			$('.comment-reply').click(function () {
				const commentId = $(this).data('comment-id');
				console.log('clicked');
				console.log(commentId);
				$('#comment-form-'+ commentId).toggle();
				
			});
		</script>
	</body>

</html>