<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace="fragments.html :: head"></head>
	
	<body>
	
		<div th:replace="fragments.html :: main-nav"></div>
		<div th:replace="fragments.html :: sub-nav"></div>

		<div class="container">
			<div class="py-5 text-center">
	            <p class="lead">소설 리뷰 사이트</p>
	            <p class="lead">부라불라 불라불라 불라불라 불라</p>
	            <p class="lead">부라불라 불라불라 불라불라 불라 부라불라 불라불라 불라불라 불라</p>
	            <a class="btn btn-facebook" href="/sign-up" role="button">회원 가입</a>
	        </div>  
	    </div>
	
	
	</body>

</html>