<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
		
	<head th:fragment="head">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all">
		<link rel="stylesheet" href="/css/font-onesocial/css/onesocial.css" type="text/css" media="all">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://demos.buddyboss.com/onesocial/wp-includes/css/dashicons.min.css?ver=5.4.1" type="text/css" media="all" >
		<link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
		<link ref="stylesheet" href="/node_modules/datatables.net-dt/css/jquery.dataTables.min.css" >
		<link rel="stylesheet" href="/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
  		<script src="/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
	</head>
	

	<header th:fragment="main-nav">
			<div class="header-wrapper">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				  <a class="navbar-brand" th:href="@{/}">게시판사이트</a>
				  <!-- Navbar brand yo -->
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				
				  <div class="collapse navbar-collapse" id="navbarTop">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item" th:each="item, iStat : ${menus}">
				      	<a class="nav-link dropdown-toggle" th:with="baseUrl=(${item.type == T(book.modules.menu.MenuType).BOARD ? '/board/' : item.type == T(book.modules.menu.MenuType).PAGE ? 'page' : ''})" 
						        			th:href="@{${baseUrl} + ${item.path}}" th:text="${item.name}">이름</a> 
				      	<div class="dropdown-menu dropdown-submenu" th:if="${#lists.size(item.subMenus) > 0}">
						        <a class="dropdown-item" th:each="subItem : ${item.subMenus}" th:with="baseUrl=(${subItem.type == T(book.modules.menu.MenuType).BOARD ? '/board/' : subItem.type == T(book.modules.menu.MenuType).PAGE ? 'page' : ''})" 
						        			th:href="@{${baseUrl} + ${subItem.path}}">
						        <span th:text="${subItem.name}"></span>			
						        </a>
						    
						</div>
				      </li>
				    </ul>
				  </div>
				  
				  <div class="collapse navbar-collapse" id="navbar">
				    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				      <li class="nav-link dropdown" sec:authorize="isAuthenticated()">
				        <a class="nav-item notification" th:href="@{/notification/unread}"><span class="count" th:if="${#lists.size(notificationList) > 0}"><b th:text="${#lists.size(notificationList)}"></b></span><i class="bb bb-icon-messages-f" style="font-size: 1.5em;"></i></a>
				      	<div class="pop message" th:if="${#lists.size(notificationList) > 0}">
					      	<ul>
			                  <li class="nav-link" th:each="item : ${notificationList}"><a th:href="@{${item.link} + '?id=' + ${item.id}}" class="nav-item dropdown-item" th:text="${item.message}"></a></li>
			                </ul>
		                </div>
		                
				      </li>
				     
				      
				      <li class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">
				        <a class="nav-item" th:href="@{/admin}"><i class="bb bb-icon-gear" style="font-size: 1.5em;"></i></a>
				      </li>
				      
				      <li class="nav-link" sec:authorize="!isAuthenticated()">
				        <a class="nav-item" th:href="@{/login}"><i class="fa fa-sign-in" style="font-size: 1.5em;"></i></a>
				      </li>
				      <li class="nav-link dropdown" sec:authorize="isAuthenticated()">
				      	<a class="nav-item dropdown-toggle" th:href="@{/profile}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          <i class="fa fa-user" style="font-size: 1.5em;"></i>
				        </a>
					    <div class="pop profile">
						    <ul>
						     <li class="nav-link myprofile text-center"><a class="nav-item btn btn-primary" th:href="@{/account/profile}" role="button">내 정보</a></li>
						     <li class="nav-link mynotification text-center"><a class="nav-item btn btn-primary" th:href="@{/notification/unread}" role="button">알림</a></li>
						     <li class="nav-link mypost text-center"><a class="nav-item btn btn-primary" th:href="@{/account/myPost}" role="button">내 글</a></li>
						     <li class="nav-link mycomment text-center"><a class="nav-item btn btn-primary" th:href="@{/account/myComment}" role="button">내 댓글</a></li>
						     <li class="nav-link logout">
						     	<form class="form-inline my-2 my-lg-0 justify-content-center" action="#" th:action="@{/logout}" method="post">
			                        <button class="nav-item btn btn-primary" type="submit">로그아웃</button>
			                    </form>
						     </li>
						    </ul>
					    </div>
				      </li>
				    </ul>
				    
				  </div>
			  
				</nav>
			</div>

			
	</header>
		
	<header th:fragment="sub-nav">
		<div class="header-inner">
			<div class="container">
				<div id="logo">
					<a class="logo" data-src-dark="logo.png" href="/">
						<img alt="Logo" src="logo.png">
					</a>
				</div>
				<div class="menu-center" id="mainMenu">
					<div class="container">
						<nav>
							<ul>
								<li class="menuItem">
									<a href="/series/top/30/">랭킹</a>
								</li>
								<li class="menuItem">
									<a href="/series/comments/">리뷰</a>
								</li>
								<li class="menuItem">
									<a href="/recommendations/series/">추천</a>
								</li>
								<li class="menuItem">
									<a href="/series/">웹소설 찾기</a>
								</li>
								<li class="menuItem">
									<a href="/forums/">커뮤니티</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div th:fragment="settings-menu (currentMenu)" class="list-group">
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/account/profile}">정보 변경</a>
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/account/password}">패스워드 변경</a>
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profileimage'}? active" href="#" th:href="@{/account/profile-image}">프로필 이미지 변경</a>
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'nickname'}? active" href="#" th:href="@{/account/nickname}">닉네임 변경</a>
	    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/account/leave}">회원탈퇴</a>
	</div>
	
	<div th:fragment="notification-menu (currentMenu)" class="list-group">
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'unread'}? active" href="#" th:href="@{/notification/unread}">안 읽은 메세지</a>
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'read'}? active" href="#" th:href="@{/notification/read}">읽은 메세지</a>
	</div>
	
	<div th:fragment="my-menu (currentMenu)" class="list-group">
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'mypost'}? active" href="#" th:href="@{/account/mypost}">내 글</a>
	    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'mycomment'}? active" href="#" th:href="@{/account/myComment}">내 댓글</a>
	</div>
	
	<div th:fragment="editor-script">
	    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
	    <script type="application/javascript">
	        $(function () {
	            $('.editor').summernote({
	                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
	                placeholder: '내용을 입력하세요.',
	                tabsize: 2,
	                height: 300
	            });
	        });
	    </script>
	</div>
	
	<div th:fragment="date-time">
	    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
	    <script type="application/javascript">
	        $(function () {
	            moment.locale('ko');
	            $(".comment-date").text(function(index, dateTime) {
	                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
	            });
	            
	            $(".date").text(function(index, dateTime) {
	                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
	            });
	            
	            $(".fromNow").text(function(index, dateTime) {
	                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
	            });
	        })
	    </script>
	</div>
	
	<div th:fragment="datatables">
		<script type="application/javascript">
		$(function () {
			$("#myDataList").DataTable();	    	
	    	$('#myDataList_wrapper').css("width" , '100%');
	    	$('#myDataList_wrapper').css('height' , '100%');
	    	$('#myDataList_filter').css('float' , 'right')
	    	$('#myDataList_filter .search').css('padding-left' , '20px');
	    	$('.paginate_button').css('padding-top' , '30px');
	    	$('.paginate_button').css('padding-right' , '30px');
			
		});
		</script>
	</div>
	
	<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
	    $(function() {
	        var csrfToken = /*[[${_csrf.token}]]*/ null;
	        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
	        $(document).ajaxSend(function (e, xhr, options) {
	            xhr.setRequestHeader(csrfHeader, csrfToken);
	        });
	    });
	</script>

</html>