<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/adminFragments.html :: head"></head>
<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar(currentMenu='board')"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>
      <!-- End Navbar -->
    	<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
              	<a th:href="@{/admin/board/add}" class="btn btn-primary float-right">추가</a>
                <h2 class="card-title"> 게시판 목록</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="boardList" class="table tablesorter">
                    <thead class=" text-primary">
                      <tr>
                         <th>
                          	이름
                        </th>
                        <th>
                          	경로
                        </th>
                        <th>
                          	권한
                        </th>
                        <th class="text-center">
                        	이동
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr th:each="item : ${boardList}">
	                        <td th:text="${item.name}">
	                          	이름
	                        </td>
	                        <td th:text="${item.path}">
	                          	경로
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_ADMIN')}">
	                           	관리자
	                        </td>
	                        <td th:if="${#strings.equals(item.role, 'ROLE_USER')}">
	                           	일반회원
	                        </td>
	                        <td class="text-center">
	                          <a th:href="@{'/admin/board/update/' + ${item.id}}" class="btn btn-primary">수정</a>
	                          <button th:attr="data-board-id=${item.id}" class="btn btn-primary delete-board">삭제</a>
	                        </td>
                      	</tr>                                
                    </tbody>
                  </table>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        
		$('#boardList').DataTable();
    	
    	$('#boardList_wrapper').css("width" , '100%');
    	$('#boardList_wrapper').css('height' , '100%');
    	$('#boardList_filter').css('float' , 'right')
    	$('#boardList_filter .search').css('padding-left' , '20px');
    	$('.paginate_button').css('padding-top' , '30px');
    	$('.paginate_button').css('padding-right' , '30px');

		$('.delete-board').click(function () {
			
			var result = confirm("게시판에 등록된 모든 글들이 삭제됩니다. \n 게시판을 삭제하시겠습니까? ");
			
			if (result) {
				const boardId = $(this).data('board-id');

				
				$.ajax({
					type: 'POST',
					url: '/admin/board/delete',
					data: {'boardId' : boardId},
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (response.messageType !== undefined && response.messageType !== 'FAIL') {
							alert (response.message);
							location.href = '/admin/board/';
						} else {
							alert (response.message);
						}
					},
					error: function (request, status ,error) {
						console.log(request);
						console.log(status);
						console.log(error);
						//alert("로그인이 필요합니다. ")
					},
				});
			}
		});

      });
    });
  </script>
</body>


</html>