<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/adminFragments.html :: head"></head>
<body class="">
  <div class="wrapper">
    <div th:replace="admin/adminFragments.html :: sidebar"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div th:replace="admin/adminFragments.html :: navbar"></div>     
      <div class="modal modal-account fade" id="accountListModal" tabindex="-1" role="dialog" aria-labelledby="accountListModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
              <table id="accountList" class="display" style="width:100%; height:100%;">
              	 <thead>
		            <tr>
		                <th>아이디</th>
		                <th>닉네임</th>
		                <th>이메일</th>
		                <th>권한</th>
		                <th>가입일</th>
		                <th class="text-left">선택</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr th:each="item : ${allAccountList}">
		        		<td th:text="${item.loginId}">
		        		</td>
		        		<td th:text="${item.nickname}">
		        		</td>
		        		<td th:text="${item.email}">
		        		</td>
		        		<td th:text="${item.role}">
		        		</td>
		        		<td th:text="${item.createdAt}">
		        		</td>
		        		<td>
		        			<div id="select-id" class="btn btn-primary select-id" th:attr="data-account-id=${item.id}">선택</div>
		        		</td>
		        	</tr>
		        </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <!-- End Navbar -->
    	<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-all">
              <div class="card-header">
                <h2 class="card-title"> Simple Table</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
	                  <form class="needs-validation col-sm-10" th:action="@{/admin/board/update/}" th:object="${boardForm}" method="post" novalidate>	
	                  	<h1>게시판 관리</h1>
	                    <input type="hidden" th:field="*{id}">
		                <div class="form-group">
		                    <label for="title">게시판 이름</label>
		                    <input id="name" type="text" th:field="*{name}" class="form-control"
		                              placeholder="게시판의 이름을 작성해주세요." aria-describedby="nameHelp" required maxlength="100">
		                    <small id="nameHelp" class="form-text text-muted">
		                        		게시판 이름을 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">이름을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="path">게시판 경로</label>
		                    <input id="path" type="text" th:field="*{path}" class="form-control"
		                              placeholder="게시판의 경로을 작성해주세요." aria-describedby="pathHelp" required maxlength="100">
		                    <small id="pathHelp" class="form-text text-muted">
		                        		게시판 경로를 작성해주세요.
		                    </small>
		                    <small class="invalid-feedback">경로을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">path Error</small>
		                </div>
		                
		                <div class="form-group">
		                    <label for="role">게시판 이용가능 권한</label>
		                    <select th:field="*{role}"  class="custom-select mr-sm-2" id="role" aria-describedby="roleHelp" >
				                    <option th:value="ROLE_USER">일반회원</option>
				                    <option th:value="ROLE_ADMIN">관리자</option>
				            </select>
		                    <small id="roleHelp" class="form-text text-muted">
		                        		게시판 권한을 선택해주세요.
		                    </small>
		                    <small class="invalid-feedback">이름을 작성</small>
		                    <small class="form-text text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role Error</small>
		                </div>
		
		                <div class="form-group">
		                    <button class="btn btn-primary btn-block" type="submit"
		                            aria-describedby="submitHelp">게시판 수정</button>
	                	</div>
		              </form>
                </div>
                
                <div th:if="${boardMessage}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
	                    <span th:text="${boardMessage}">완료</span>
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	            </div>
                
                <div class="table-responsive manager">
	                  <div class="col-sm-10" >	
	                    <input type="hidden" th:field="*{id}">
	                    
	                    <div class="btn btn-primary float-right" data-toggle="modal" data-target="#accountListModal">관리자 추가</div>
	                    <h1>관리자 관리</h1>
		                <div class="table-responsive">
		                  <table class="table tablesorter">
		                    <thead class=" text-primary">
		                      <tr>
		                      	<th>
		                          	아이디
		                        </th>
		                        <th>
		                          	닉네임
		                        </th>
		                        <th>
		                          	이메일
		                        </th>
		                        <th>
		                          	권한
		                        </th>
		                        <th class="text-center">
		                        	이동
		                        </th>
		                      </tr>
		                    </thead>
		                    <tbody>
		                      
		                        <tr th:each="item : ${accountListWithBoard.getContent()}">
		                        	<td th:text="${item.loginId}">
			                          Dakota Rice
			                        </td>
			                        <td th:text="${item.nickname}">
			                          Dakota Rice
			                        </td>
			                        <td th:text="${item.email}">
			                          Niger
			                        </td>
			                        <td th:if="${#strings.equals(item.role, 'ROLE_ADMIN')}">
			                           	관리자
			                        </td>
			                        <td th:if="${#strings.equals(item.role, 'ROLE_USER')}">
			                           	일반회원
			                        </td>
			                        <td class="text-center">
			                          <div id="delete-id" class="btn btn-primary delete-id" th:attr="data-account-id=${item.id}">해제</div>
			                        </td>
		                      	</tr>                                
		                    </tbody>
		                  </table>
		                </div>
		              </div>
		              
		              <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${!accountListWithBoard.hasPrevious()}? disabled">
                            <a th:href="@{'/admin/board/update/' +  ${boardForm.id} +'?sort=managedAt,desc&page=' + ${accountListWithBoard.getNumber() - 1}}"
                               class="page-link" tabindex="-1" aria-disabled="true">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i == accountListWithBoard.getNumber()}? active"
                            th:each="i: ${#numbers.sequence(0, accountListWithBoard.getTotalPages() -1)}">
                            
 							 <a th:href="@{'/admin/board/update/' +  ${boardForm.id} +'?sort=managedAt,desc&page=' + ${i}}"
                               class="page-link" href="#" th:text="${i + 1}">1</a>
                                                      
                            
                        </li>
                        <li class="page-item" th:classappend="${!accountListWithBoard.hasNext()}? disabled">
                            <a th:href="@{'/admin/board/update/' +  ${boardForm.id} +'?sort=managedAt,desc&page=' + ${accountListWithBoard.getNumber() + 1}}"
                               class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                    
                </div>
              	<div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
	                    <span th:text="${message}">완료</span>
	                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	            </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script th:replace="admin/adminFragments.html :: main-script"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:inline="javascript">
    $(document).ready(function() {
      $().ready(function() {
    	  
    	$('#accountList').DataTable();
    	
    	$('#accountList_wrapper').css("width" , '100%');
    	$('#accountList_wrapper').css('height' , '100%');
    	$('#accountList_filter').css('float' , 'right')
    	$('#accountList_filter .search').css('padding-left' , '20px');
    	
        $('.select-id').click(function () {
			
			var result = confirm("정말로 관리자로 설정하시겠습니까 ? ");
			
			if (result) {
				const accountId = $(this).data('account-id');
				const boardId = /*[[@{${boardForm.id}}]]*/'';
				
				console.log(accountId);
				console.log(boardId);
				
				$.ajax({
					type: 'POST',
					url: '/admin/board/manager/add',
					data: {'accountId' : accountId , 'boardId' : boardId },
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (response.messageType !== undefined && response.messageType !== 'FAIL') {
							alert (response.message);
							location.href = '/admin/board/update/' + boardId;
						} else {
							alert (response.message);
						}
						/* $('.comment-list').load(window.location.href + '.comment-list'); */
					},
					error: function (request, status ,error) {
						console.log(request);
						console.log(status);
						console.log(error);
						//alert("로그인이 필요합니다. ")
					},
				});
			}
		});
        
		$('.delete-id').click(function () {
			
			var result = confirm("정말로 관리자를 해제하시겠습니까 ? ");
			
			if (result) {
				const accountId = $(this).data('account-id');
				const boardId = /*[[@{${boardForm.id}}]]*/'';
				
				console.log(accountId);
				console.log(boardId);
				
				$.ajax({
					type: 'POST',
					url: '/admin/board/manager/delete',
					data: {'accountId' : accountId , 'boardId' : boardId },
					dataType : "json",
					success: function (response) {
						console.log(response);
						if (response.messageType !== undefined && response.messageType !== 'FAIL') {
							location.href = '/admin/board/update/' + boardId;
						} else {
							alert (response.message);
						}
						/* $('.comment-list').load(window.location.href + '.comment-list'); */
					},
					error: function (request, status ,error) {
						console.log(request);
						console.log(status);
						console.log(error);
						//alert("로그인이 필요합니다. ")
					},
				});
			}
		});


       
      });
    });
  </script>
</body>


</html>